body {
    background-color: #f8f9fa;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0d6efd;
    box-shadow: 0 0 10px #bcd;
}

h3 {
    color: #0d6efd;
    margin-bottom: 20px;
}
